header p,
a,
li,
ol,
ul,
blockquote,
figure {
  margin: 0 !important;
  line-height: 1.17;
  letter-spacing: -0.2px;
  // list-style: none !important;
  @apply text-white #{!important};
}

.menu-item {
  @apply no-underline #{!important};
}

.pin-header {
  @apply bg-primary;
}
.page-home-data,
.front-page-data,
.error404 {
  .header:not(.pin-header):not(.is-open-menu) {
    .hamburger-menu .icon-bar {
      @apply bg-primary;
    }

    .main-menu-ul {
      @apply text-white;
    }

    .btn-transparent {
      @apply text-white border-white;

      &:hover {
        @apply text-blue-200 border-blue-200;
      }
    }
  }
}

.screenshot {
  .header {
    @apply left-auto transform-none;
  }
}
.header-logo {
  max-width: 150px;
}
@screen down_lg {
  header {
    &::after {
      content: "";
      @apply bg-primary right-0 left-0 top-0 bottom-full absolute z-a-1;
    }
    &.is-open-menu {
      height: calc(100% + 70px);

      &::after {
        @apply bottom-0;
      }
    }
  }

  .touch {
    .main-menu-ul {
      flex: 0 0 auto;
    }
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .header {
    @apply absolute bg-primary #{!important};
  }
}
