@layer base {
  body {
    @apply text-base text-black xl:text-lg;
    font-family: "Poppins", sans-serif;
    --brownish-grey: #666666;
    --dark-blue: #202c40;
  }
  html {
    @apply m-0;
  }
  html,
  body {
    @apply overflow-x-hidden;
  }
  h1,
  .h1 {
    @apply text-h1 font-bold md:text-h1-md;
  }

  h2,
  .h2 {
    @apply font-bold md:text-h2-md;
    font-size: 36px;
  }

  h3,
  .h3 {
    @apply font-bold md:text-h3-md;
    font-size: 24px;
  }

  h4,
  .h4 {
    @apply text-h4 font-syncopate;
  }

  h5,
  .h5 {
    @apply text-h5 font-bold;
  }

  h6,
  .h6 {
    @apply text-h5 font-medium;
  }
  small {
    @apply text-sm;
  }

  button {
    @apply outline-none #{!important};
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-8;
  }

  p,
  li,
  ol,
  ul,
  blockquote,
  figure {
    margin: 0 !important;
    line-height: 1.17;
    letter-spacing: -0.2px;
  }

  ol,
  ul {
    @apply block pl-20;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }
  p {
    @apply mb-15;
  }
}

a:not(.btn):not(.no-underline) {
  @apply underline hover:no-underline;
}
